

:root {
  --primary-color: #ffd4d4;
  --secondary-color: #ffd449;
  --text-color: #ffffff;
  --background-color: #000708;
    --background-color2: #00070856;
    --text-color2: #110f0f;
    --text-color3: #870101;

}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
  font-family: Poppins;
  font-size: 1.9rem;
  font-weight: 100;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  /* background-image: linear-gradient(rgb(0, 0, 0,0.5), rgb(255, 255, 255)); */
  background-color: rgba(10, 195, 208, 0.327);
 
}
.navbar {
  height: 100px;
  width: 100%;
  padding: 20px;
  background-color:var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

img {
  height: 80px;
  width: 60px;
  
}

#nav-links {
  font-size: 0.6em;
  font-weight: 400;
  display: flex;
  gap: 100px;
  padding: 30px;
}
a {
  text-decoration: none;
  color: var(--text-color);
}

.homeContent {
  height: 500px;
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;

   padding: 60px;

   



/* background-image: url("ITSAlogo.png");

background-image: url("ITSAlogo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
   image-orientation: flip;
 z-index:1000 ; */




  /* background-color: rgb(0, 34, 66); */
  color: var(--text-color);
  /* background-image: linear-gradient( rgb(25, 157, 208),rgb(0, 0, 0)); */
  background-color: var(--background-color);;
}

#s1{
  /* color: var(--primary-color); */
  color: var(--primary-color);
  /* font-family: Arial, sans-serif; */
  background-color: var(--text-color3);
  border-radius: 40px 40px 1px 40px;
  padding: 15px 10px;
  
}
h1{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
text-transform: uppercase;
font-weight: 800;
    }
 .noUse{
background-color: rgb(255, 255, 255);
  padding: 5px 10px;
  /* border: solid rgb(255, 255, 255)  1px; */
  border-radius: 90px;
  border: none;
  box-shadow: #ff0000;

  
 }


#p-1 {
  font-size: 1.4em;
  font-weight: 300;
  /* color: var(--text-color); */
   color: #5b5b5b;
   


}
#p-2 {
  font-size: 0.6em;
  font-weight: 300;
 width: 900px;
}

#aboutH1{
    
    
    
    margin:40px;
}
.aboutSection{
  color: var(--text-color2);
  background-color: #ffffff;
  padding: 30px;
  width: 100%;

}

.grid-container{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 20px;
 width: 100%;
  height: 100vh;
  /* background-color: var(--background-color); */
 
 
}

.grid-container div {
  /* background-color: pink; */
  /* color: var(--text-color); */
  background-color: rgb(234, 234, 234);
  padding: 20px;
  font-size: 30px;
  text-align:left;
  border-radius: 20px;
  /* border: solid rgba(8, 81, 127, 0.453) 4px; */
    padding: 40px 40px 40px 40px;
    display: flex;
    flex-direction: column;

    
}

.box2 {
  grid-column: 2 /span 2;
  padding: 40px;

}
.box3{
     grid-column: 2 /span 1;
  color: #ffffff;

  
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-blend-mode: darken;
     
  
}
#s2{
    color: rgb(118, 1, 1);
}

.box1 {
  grid-column: 1;
  grid-row: 1 / span 2;
}
.box4{
    grid-column: 3;
  grid-row: 2 / span 2;
}

.box5 {
  grid-column: 1 / span 2;
}

.p-3{
    font-weight: 360;
    font-size: 0.6em;
    font-style: italic;
    text-align:left;
    
}
h3{
    
    font-size:xx-large;
    font-weight: 400;
}




/* event section */
#eventH1{
    color: var(--text-color2);
    margin: 20px;
}
.eventSection{
 color: var(--text-color2);
  background-color: #ffffff;
height: 1000px;
  width: 100%;
  padding: 30px;
  
}
.eventCard{
    height: 550px;
    width: 450px;
    background-color:var(--background-color2);
    /* border:solid black 1px; */
    border-radius: 15px;
    padding: 10px;
}
#card{
    background-color:rgb(225, 225, 225);
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 15px;

}
.eventImage{

background-image: url("Poster.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  width: 100%;
  height: 50%;

  border-radius: 15px;
}
.eventInfo{
   width: 100%;
  height: 50%;
  /* background-color: green;  */
  
}


/* team section */




/* Left right and above below animation */
.left {
  opacity: 0;
  animation: slideFromLeft 1s ease forwards;
}

.right {
  opacity: 0;
  animation: slideFromRight 1s ease forwards;
  /* animation-delay: 1s;  */
  /* starts after left text */
}

.above {
  opacity: 0;
  animation: slideFromAbove 1s ease forwards;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromAbove {
  from {
    transform: translateZ(100%);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}

.animate-text.show {
  opacity: 1;
  transform: translateX(0);
}


.innerCursor{
    position: fixed;
    left: 10px;
    width: 10px;
    height: 10px;
    transform:translate(-50%, -50%);
    background-color:rgb(255, 255, 255);
    mix-blend-mode: 50%;
    pointer-events:none;
    border-radius: 50%;
    transition: width 0.5s height 0.5s;

}
.outerCursor{
    position: fixed;
    left: 10px;
    width: 25px;
    height: 25px;
    transform: translate(-50%,-50%);
    border: 1px solid rgb(126, 106, 106) ;

    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: 0.1ms;
    transition: 0.1s;
}